Makefile
Makefile.in
INSTALL
aclocal.m4
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ngfd
*.pc
doc/html/
doc/doxygen.log
.libs
.deps
*.la
*.lo
*.o
autom4te.cache/
m4/
RPMS/
documentation.list
test-driver
tests/test-context
tests/test-core
tests/test-inputinterface
tests/test-plugin
tests/test-proplist
tests/test-request
tests/test-sinkinterface
tests/test-value
